.btn{
    border: 2px solid royalblue;
    border-radius: 5px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: royalblue;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    display: inline-block;
    position: relative;
    transition: all 0.5s ease 0s;
}
.btn:hover {
    color: rgb(202, 215, 255);
}
.btn:after {
    background-color: royalblue;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 0%;
    z-index: -1;
    transition: all 0.5s ease 0s;
}
.btn:hover:after {
    width: 100%;
}